aside(id="left-content" data-toggle="open" data-default="open" data-size="")
  header(class="header-container")
    div(class="header-wrapper")
      div(id="header-brand")
        div(class="logo padding-left-2")
          span(class="logo-image") H
          span(class="logo-text") Hércules
  
  div(id="sidebar-wrapper")
    div(id="userbox")
      div(id="useravatar")
        div(class="avatar-thumbnail")
          img(src="/images/avatar/avatar_square_blue.png" class="img-circle")

      div(id="userinfo")
        div(class="btn-group")
          button(type="button" class="btn btn-default-bright btn-flat dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
            | #{user.local.nombre} 
            | #{user.local.primerApellido}
            i(class="material-icons") arrow_drop_down
          ul(class="dropdown-menu")
            li
              a(href="#")
                i(class="material-icons") 
                  | person
                span(data-i18n="userinfo.profile") Perfil
            li
              a(href="#")
                i(class="material-icons")
                  | settings
                span(data-i18n="userinfo.settings") Configuración
            li(class="divider-horizontal")
            li
              a(href="#")
                i(class="material-icons")
                  | lock
                span(data-i18n="userinfo.lock") Bloquear
            li(class="divider-horizontal")
            li
              a(href="/logout")
                i(class="material-icons") 
                  | exit_to_app
                span(data-i18n="userinfo.logout") Cerrar sesión
    
    nav(id="sidebar")
      ul
        li
          a(href="#")
            span(class="menu-item-ico")
              i(class="material-icons") dashboard
            span(class="menu-item-name") Dashboard
        li(class="nav-main-heading")
          span(class="sidebar-mini-hide") Cuentas de usuario
        li
          a(href="#")
            span(class="menu-item-ico")
              i(class="material-icons") account_circle
            span(class="menu-item-name") Usuarios y perfiles
          ul
            li
              a(href="#")
                | Usuarios
            li
              a(href="#")
                | Perfiles
        li(class="nav-main-heading")
          span(class="sidebar-mini-hide") Catalógos
        li
          a(href="#")
            span(class="menu-item-ico")
              i(class="material-icons") people
            span(class="menu-item-name") Personas
          ul
            li
              a(href="#")
                | Empresas
            li
              a(href="#")
                | Personal
            li
              a(href="#")
                | Contactos
        li
          a(href="#")
            span(class="menu-item-ico")
              i(class="material-icons") volume_up
            span(class="menu-item-name") Equipo
          ul
            li
              a(href="#")
                | Clasificaciones
        li
          a(href="#")
            span(class="menu-item-ico")
              i(class="material-icons") bookmark
            span(class="menu-item-name") Eventos
          ul
            li
              a(href="#")
                | Tipos
        li(class="nav-main-heading")
          span(class="sidebar-mini-hide") Inventario
        li
          a(href="#")
            span(class="menu-item-ico")
              i(class="material-icons") check_box
            span(class="menu-item-name") Existencia en bodega
          ul
            li
              a(href="#")
                | Consultar
        li
          a(href="#")
            span(class="menu-item-ico")
              i(class="material-icons") local_shipping  
            span(class="menu-item-name") Equipo en transito
          ul
            li
              a(href="#")
                | Opción 1
        li
          a(href="#")
            span(class="menu-item-ico")
              i(class="material-icons") play_arrow  
            span(class="menu-item-name") Equipo en evento
          ul
            li
              a(href="#")
                | Opción 1
        li
          a(href="#")
            span(class="menu-item-ico")
              i(class="material-icons") history  
            span(class="menu-item-name") Historial
          ul
            li
              a(href="#")
                | Opción 1
        li
          a(href="#")
            span(class="menu-item-ico")
              i(class="material-icons") label  
            span(class="menu-item-name") Códigos de barra
          ul
            li
              a(href="#")
                | Opción 1
        li(class="nav-main-heading")
          span(class="sidebar-mini-hide") Agenda
        li
          a(href="#")
            span(class="menu-item-ico")
              i(class="material-icons") event
            span(class="menu-item-name") Calendario 
          ul
            li
              a(href="#")
                | Eventos por mes
    
include top-bar.jade
