div(id="sidebar-menu" class="main_menu_side hidden-print main_menu")
  div(class="menu_section")
    h3 General
    ul(class="nav side-menu")
      li 
        a
          i(class="fa fa-home") 
          |  Inicio
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li 
            a(href="/main")  Dashboard
      li 
        a
          i(class="fa fa-sign-in")
          | Acceso
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li 
            a(href="/main/users")  Usuarios
          li 
            a(href="/main/profiles")  Perfiles
  div(class="menu_section")
    h3 Catálogos
    ul(class="nav side-menu")
      li
        a
          i(class="fa fa-users")
          |  Personas 
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
            li 
              a(href="#") Empresas
            li 
              a(href="#") Contactos
            li
              a(herf="#") Staff
  
