div(id="sidebar-menu" class="main_menu_side hidden-print main_menu")
  div(class="menu_section")
    h3 General
    ul(class="nav side-menu")
      li 
        a
          i(class="fa fa-home") 
          |  Inicio
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li 
            a(href="#")  Dashboard
      li 
        a
          i(class="fa fa-sign-in")
          | Acceso
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
          li 
            a(href="#")  Usuarios
          li 
            a(href="#")  Perfiles
  div(class="menu_section")
    h3 Catálogos
    ul(class="nav side-menu")
      li
        a
          i(class="fa fa-sitemap")
          |  Empresas 
          span(class="fa fa-chevron-down")
        ul(class="nav child_menu")
            li 
              a(href="#level1_1") Level One
            li 
              a 
                | Level One
                span(class="fa fa-chevron-down")
              ul(class="nav child_menu")
                li(class="sub_menu")
                  a(href="level2.html") Level Two
                li 
                  a(href="#level2_1") Level Two
                li 
                  a(href="#level2_2") Level Two
            li 
              a(href="#level1_2") Level One
      li 
        a(href="javascript:void(0)")
          i(class="fa fa-laptop")
          | Landing Page 
          span(class="label label-success pull-right") Coming Soon
