-var usersJSON = users

script.
  var head = document.getElementsByTagName('head')[0],
  
  link = document.createElement('link');

  link.type = 'text/css';
  link.rel = 'stylesheet';
  link.href = '/stylesheets/switchery/switchery.min.css';

  head.appendChild(link);

div(class="row")
  div(class="col-md-12 col-sm-12 col-xs-12")
    div(class="x_panel")
      div(class="x_title")
        h2 Lista 
          small Usuarios
        ul(class="nav navbar-right panel_toolbox")
          li
            a(class="collapse-link")
              i(class="fa fa-chevron-up")
          li(class="dropdown")
            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false")
              i(class="fa fa-print")
            ul(class="dropdown-menu" role="menu")
              li
                a(href="#") PDF
              li
                a(href="#") Excell
          li
            a(class="close-link")
              i(class="fa fa-close")
        
        div(class="clearfix")
        
      div(class="x_content")
        p(class="text-muted font-13 m-b-30")
          | DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
        table(id="datatable-butons" class="table table-striped table-bordered")
          thead
            tr
              th Nombre
              th Primer apellido
              th Segundo apellido
              th Activo
              th Correo electrónico
              th Administrador
              th Acciones
          tbody
          -each usr in usersJSON
            tr
              td #{usr.local.nombre}
              td #{usr.local.primerApellido}
              td #{usr.local.segundoApellido}
              td 
                -var userIsActive = (usr.local.activo === 1 ? 1 : 0)
                
                if userIsActive == 1
                  input(type="checkbox" class="js-switch" checked disabled)
                else
                  //if userIsActive == 0
                  input(type="checkbox" class="js-switch")
                
              td #{usr.local.correoElectronico}
              td 
                -var userIsAdmin = (usr.local.perfil === 1 ? 1 : 0)
                
                if userIsAdmin == 1
                  input(type="checkbox" class="js-switch")
                else  
                  //if userIsAdmin == 0
                  input(type="checkbox" class="js-switch")
                  
              td Acción
