div
  a(class="hiddenanchor" id="signup")
  a(class="hiddenanchor" id="signin")

  div(class="login_wrapper")
    div(class="animate form login_form")
      section(class="login_content")
        form
          h1 Iniciar sesión
          div
            input(type="text" class="form-control" placeholder="Username" required="")
          div
            input(type="password" class="form-control" placeholder="Password" required="")
          div
            a(class="btn btn-default submit" href="index.html") Aceptar
            a(class="reset_pass" href="#") Recuperar contraseña

          div(class="clearfix")

          div(class="separator")
            div(class="clearfix")
            
            br
            
            div
              h1 
                //i(class="fa fa-paw")
                | Sistema Hércules V. 1.0.
              p © 2017 Copyright Hércules Producciones S. A. de C. V.
