doctype html

html
  head
    include includes/metas.jade
      
    link(href="http://fonts.googleapis.com/css?family=Kotta+One|Cantarell:400,700" rel="stylesheet" type="text/css")
    
    link(rel="stylesheet" href="/stylesheets/presentational-only.css")
    link(rel="stylesheet" href="/stylesheets/full-background-image.css")
  
body
  nav(class="navbar" id="top")
    div(class="inner")
      a(href="#") Hércules Producciones Website
      a(href="#") Acerca de

  header(class="container")
    section(class="content")
      h1 Bienvenidos al Sistema Hércules
      p(class="sub-title") Sistema para la Gestión Integral
      p
        a(class="button" id="load-more-content" href="/login") INICIAR SESIÓN
      sapn(class="only-text") Copyright © 2017 Hércules Producciones S. A. de C. V.
